*/.DS_Store
Headers/*
*/build/*
JUMPNetwork/Libraries/AISHTTPRequestLibrary/build/*
JUMPLogger/Libraries/Log4CocoaTouch/build/*
JUMPLogger/Libraries/Log4CocoaTouch/build/Log4CocoaTouch.build/Debug-iphonesimulator/Log4CocoTouch.build/build-state.dat
JUMPNetwork/Libraries/.DS_Store
JUMPLogger/Libraries/.DS_Store
JUMPLogger/Libraries/Log4CocoaTouch/build/*
JUMPLogger/.DS_Store
Docs/*
JUMPLogger/.DS_Store
