*/.DS_Store
Headers/*
*/build/*
JUMPNetwork/Libraries/AISHTTPRequestLibrary/build/*
JUMPLogger/Libraries/Log4CocoaTouch/build/*
JUMPLogger/Libraries/Log4CocoaTouch/build/Log4CocoaTouch.build/Debug-iphonesimulator/Log4CocoTouch.build/build-state.dat
JUMPNetwork/Libraries/.DS_Store
JUMPLogger/Libraries/.DS_Store
JUMPLogger/Libraries/Log4CocoaTouch/build/*
JUMPLogger/.DS_Store
Docs/*
JUMPLogger/.DS_Store

JUMPLogger/Libraries/Log4CocoaTouch/build/Log4CocoaTouch.build/Debug-iphonesimulator/Log4CocoTouch.build/Objects-normal/i386/L4WriterAppender.o
JUMPData/Third-Part Libraries/JSON Framework/MacOS Framework/.DS_Store
JUMPLogger/.DS_Store

JUMPLogger/.DS_Store

Docs/JUMPNetwork/.DS_Store

Docs/JUMPNetwork/.DS_Store

.DS_Store

.DS_Store

JUMPLogger/Libraries/Log4CocoaTouch/Log4CocoaTouch.xcodeproj/xcuserdata/aoliveira.xcuserdatad/xcschemes/xcschememanagement.plist

JUMPLogger/Libraries/Log4CocoaTouch/Log4CocoaTouch.xcodeproj/xcuserdata/aoliveira.xcuserdatad/xcschemes/xcschememanagement.plist

JUMPLogger/Libraries/Log4CocoaTouch/build/Debug-iphonesimulator/libLog4CocoTouch.a

JUMPLogger/Libraries/Log4CocoaTouch/build/Debug-iphonesimulator/libLog4CocoTouch.a

JUMPLogger/Libraries/Log4CocoaTouch/build/Log4CocoaTouch.build/Debug-iphonesimulator/Log4CocoTouch.build/Log4CocoTouch-all-target-headers.hmap

JUMPLogger/Libraries/Log4CocoaTouch/build/Log4CocoaTouch.build/Debug-iphonesimulator/Log4CocoTouch.build/Log4CocoTouch-all-target-headers.hmap

JUMPLogger/Libraries/Log4CocoaTouch/build/Log4CocoaTouch.build/Debug-iphonesimulator/Log4CocoTouch.build/Log4CocoTouch-own-target-headers.hmap

JUMPLogger/Libraries/Log4CocoaTouch/build/Log4CocoaTouch.build/Debug-iphonesimulator/Log4CocoTouch.build/Log4CocoTouch-own-target-headers.hmap

JUMPLogger/Libraries/Log4CocoaTouch/build/Log4CocoaTouch.build/Debug-iphonesimulator/Log4CocoTouch.build/Log4CocoTouch-project-headers.hmap

JUMPLogger/Libraries/Log4CocoaTouch/build/Log4CocoaTouch.build/Debug-iphonesimulator/Log4CocoTouch.build/Log4CocoTouch-project-headers.hmap

JUMPLogger/Libraries/Log4CocoaTouch/build/Log4CocoaTouch.build/Debug-iphonesimulator/Log4CocoTouch.build/Log4CocoTouch.dep

JUMPLogger/Libraries/Log4CocoaTouch/build/Log4CocoaTouch.build/Debug-iphonesimulator/Log4CocoTouch.build/Log4CocoTouch.dep

JUMPLogger/Libraries/Log4CocoaTouch/build/Log4CocoaTouch.build/Debug-iphonesimulator/Log4CocoTouch.build/Log4CocoTouch.hmap

JUMPLogger/Libraries/Log4CocoaTouch/build/Log4CocoaTouch.build/Debug-iphonesimulator/Log4CocoTouch.build/Log4CocoTouch.hmap

JUMPLogger/Libraries/Log4CocoaTouch/build/Log4CocoaTouch.build/Debug-iphonesimulator/Log4CocoTouch.build/Objects-normal/i386/Log4CocoTouch.LinkFileList

JUMPLogger/Libraries/Log4CocoaTouch/build/Log4CocoaTouch.build/Debug-iphonesimulator/Log4CocoTouch.build/Objects-normal/i386/Log4CocoTouch.LinkFileList

JUMPLogger/Libraries/Log4CocoaTouch/build/Log4CocoaTouch.build/Debug-iphonesimulator/Log4CocoTouch.build/build-state.dat

JUMPLogger/Libraries/Log4CocoaTouch/build/Log4CocoaTouch.build/Debug-iphonesimulator/Log4CocoTouch.build/build-state.dat
