<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGrafflePro</string>
		<string>138.17.0.133677</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {1118.44, 783}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2010-11-29 14:12:38 -0300</string>
	<key>Creator</key>
	<string>Paulo Oliveira</string>
	<key>DisplayScale</key>
	<string>1.000 cm = 1.000 cm</string>
	<key>GraphDocumentVersion</key>
	<integer>6</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Bounds</key>
			<string>{{419.92, 506.955}, {33, 20}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>w</key>
					<string>0</string>
				</dict>
				<key>Font</key>
				<string>SEQOYSans</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>3238</integer>
			<key>Line</key>
			<dict>
				<key>ID</key>
				<integer>3237</integer>
				<key>Position</key>
				<real>0.53082561492919922</real>
				<key>RotationType</key>
				<integer>0</integer>
			</dict>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf350
{\fonttbl\f0\fnil\fcharset0 SEQOYSans;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs18 \cf0 result}</string>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>SEQOYSans</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>3227</integer>
			</dict>
			<key>ID</key>
			<integer>3237</integer>
			<key>Points</key>
			<array>
				<string>{400, 524.316}</string>
				<string>{468.609, 510.449}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>6</real>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>Pattern</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>SharpBackArrow</string>
					<key>TailScale</key>
					<real>1.2999999523162842</real>
					<key>Width</key>
					<real>0.5</real>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>3218</integer>
				<key>Info</key>
				<integer>6</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{422.667, 436.631}, {24, 20}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>w</key>
					<string>0</string>
				</dict>
				<key>Font</key>
				<string>SEQOYSans</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>3230</integer>
			<key>Line</key>
			<dict>
				<key>ID</key>
				<integer>3228</integer>
				<key>Position</key>
				<real>0.49471721053123474</real>
				<key>RotationType</key>
				<integer>0</integer>
			</dict>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf350
{\fonttbl\f0\fnil\fcharset0 SEQOYSans;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs18 \cf0 run}</string>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>SEQOYSans</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>3218</integer>
				<key>Info</key>
				<integer>4</integer>
			</dict>
			<key>ID</key>
			<integer>3228</integer>
			<key>Points</key>
			<array>
				<string>{468.609, 451.714}</string>
				<string>{400, 441.439}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>6</real>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>Pattern</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>SharpBackArrow</string>
					<key>TailScale</key>
					<real>1.2999999523162842</real>
					<key>Width</key>
					<real>0.5</real>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>3227</integer>
				<key>Info</key>
				<integer>12</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{478.407, 500.881}, {105.003, 27.2929}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>w</key>
					<string>0</string>
				</dict>
				<key>Font</key>
				<string>SEQOYSans</string>
				<key>NSKern</key>
				<real>0.0</real>
				<key>Size</key>
				<real>8</real>
			</dict>
			<key>ID</key>
			<integer>3225</integer>
			<key>Magnets</key>
			<array>
				<string>{0, 1}</string>
				<string>{0, -1}</string>
				<string>{1, 0}</string>
				<string>{-1, 0}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>90</real>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>MiddleColor</key>
					<dict>
						<key>b</key>
						<string>0.749838</string>
						<key>g</key>
						<string>0.916202</string>
						<key>r</key>
						<string>0.940217</string>
					</dict>
					<key>MiddleFraction</key>
					<real>0.75396817922592163</real>
					<key>TrippleBlend</key>
					<string>YES</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Beneath</key>
					<string>YES</string>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.59</string>
						<key>b</key>
						<string>0.778226</string>
						<key>g</key>
						<string>0.778226</string>
						<key>r</key>
						<string>0.778226</string>
					</dict>
					<key>Fuzziness</key>
					<real>2.9887564182281494</real>
					<key>ShadowVector</key>
					<string>{2, 2}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.358877</string>
						<key>g</key>
						<string>0.358877</string>
						<key>r</key>
						<string>0.358877</string>
					</dict>
					<key>CornerRadius</key>
					<real>3</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf350
{\fonttbl\f0\fnil\fcharset0 SEQOYSans;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs16 \cf0 Query / Action Data}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{478.407, 465.269}, {105.003, 27.2929}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>w</key>
					<string>0</string>
				</dict>
				<key>Font</key>
				<string>SEQOYSans</string>
				<key>NSKern</key>
				<real>0.0</real>
				<key>Size</key>
				<real>8</real>
			</dict>
			<key>ID</key>
			<integer>3224</integer>
			<key>Magnets</key>
			<array>
				<string>{0, 1}</string>
				<string>{0, -1}</string>
				<string>{1, 0}</string>
				<string>{-1, 0}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>90</real>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>MiddleColor</key>
					<dict>
						<key>b</key>
						<string>0.749838</string>
						<key>g</key>
						<string>0.916202</string>
						<key>r</key>
						<string>0.940217</string>
					</dict>
					<key>MiddleFraction</key>
					<real>0.75396817922592163</real>
					<key>TrippleBlend</key>
					<string>YES</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Beneath</key>
					<string>YES</string>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.59</string>
						<key>b</key>
						<string>0.778226</string>
						<key>g</key>
						<string>0.778226</string>
						<key>r</key>
						<string>0.778226</string>
					</dict>
					<key>Fuzziness</key>
					<real>2.9887564182281494</real>
					<key>ShadowVector</key>
					<string>{2, 2}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.358877</string>
						<key>g</key>
						<string>0.358877</string>
						<key>r</key>
						<string>0.358877</string>
					</dict>
					<key>CornerRadius</key>
					<real>3</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf350
{\fonttbl\f0\fnil\fcharset0 SEQOYSans;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs16 \cf0 Settings}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{314.971, 447.305}, {63.6107, 96.9111}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0.590997</string>
					<key>g</key>
					<string>0.18677</string>
					<key>r</key>
					<string>0.567819</string>
				</dict>
				<key>Font</key>
				<string>SEQOYSans</string>
				<key>Size</key>
				<real>8</real>
			</dict>
			<key>ID</key>
			<integer>3221</integer>
			<key>Magnets</key>
			<array>
				<string>{-0.596284, -1.19257}</string>
				<string>{1.27157e-06, -1.33333}</string>
				<string>{0.596286, -1.19257}</string>
				<string>{1.19257, -0.596285}</string>
				<string>{1.33333, 0}</string>
				<string>{1.19257, 0.596284}</string>
				<string>{0.596286, 1.19257}</string>
				<string>{1.27157e-06, 1.33333}</string>
				<string>{-0.596284, 1.19257}</string>
				<string>{-1.19257, 0.596284}</string>
				<string>{-1.33333, -1.27157e-06}</string>
				<string>{-1.19257, -0.596286}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>90</real>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>MiddleColor</key>
					<dict>
						<key>b</key>
						<string>0.996078</string>
						<key>g</key>
						<string>0.646237</string>
						<key>r</key>
						<string>0.585085</string>
					</dict>
					<key>MiddleFraction</key>
					<real>0.92857140302658081</real>
					<key>TrippleBlend</key>
					<string>YES</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Beneath</key>
					<string>YES</string>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.15</string>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>Fuzziness</key>
					<real>0.0</real>
					<key>ShadowVector</key>
					<string>{2, 2}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.431452</string>
						<key>g</key>
						<string>0.431452</string>
						<key>r</key>
						<string>0.431452</string>
					</dict>
					<key>CornerRadius</key>
					<real>3</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf350
{\fonttbl\f0\fnil\fcharset0 SEQOYSans;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs16 \cf0 Core Data Persistent Store Coordinator}</string>
				<key>VerticalPad</key>
				<integer>15</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{239.821, 447.305}, {63.6107, 96.9111}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0.590997</string>
					<key>g</key>
					<string>0.18677</string>
					<key>r</key>
					<string>0.567819</string>
				</dict>
				<key>Font</key>
				<string>SEQOYSans</string>
				<key>Size</key>
				<real>8</real>
			</dict>
			<key>ID</key>
			<integer>3220</integer>
			<key>Magnets</key>
			<array>
				<string>{-0.596284, -1.19257}</string>
				<string>{1.27157e-06, -1.33333}</string>
				<string>{0.596286, -1.19257}</string>
				<string>{1.19257, -0.596285}</string>
				<string>{1.33333, 0}</string>
				<string>{1.19257, 0.596284}</string>
				<string>{0.596286, 1.19257}</string>
				<string>{1.27157e-06, 1.33333}</string>
				<string>{-0.596284, 1.19257}</string>
				<string>{-1.19257, 0.596284}</string>
				<string>{-1.33333, -1.27157e-06}</string>
				<string>{-1.19257, -0.596286}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>90</real>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>MiddleColor</key>
					<dict>
						<key>b</key>
						<string>0.506344</string>
						<key>g</key>
						<string>0.923561</string>
						<key>r</key>
						<string>0.996078</string>
					</dict>
					<key>MiddleFraction</key>
					<real>0.92857140302658081</real>
					<key>TrippleBlend</key>
					<string>YES</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Beneath</key>
					<string>YES</string>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.15</string>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>Fuzziness</key>
					<real>0.0</real>
					<key>ShadowVector</key>
					<string>{2, 2}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.431452</string>
						<key>g</key>
						<string>0.431452</string>
						<key>r</key>
						<string>0.431452</string>
					</dict>
					<key>CornerRadius</key>
					<real>3</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf350
{\fonttbl\f0\fnil\fcharset0 SEQOYSans;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs16 \cf0 Core Data Managed Object Context}</string>
				<key>VerticalPad</key>
				<integer>15</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{164.671, 447.305}, {63.6107, 96.9112}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0.590997</string>
					<key>g</key>
					<string>0.18677</string>
					<key>r</key>
					<string>0.567819</string>
				</dict>
				<key>Font</key>
				<string>SEQOYSans</string>
				<key>Size</key>
				<real>8</real>
			</dict>
			<key>ID</key>
			<integer>3219</integer>
			<key>Magnets</key>
			<array>
				<string>{-0.596284, -1.19257}</string>
				<string>{1.27157e-06, -1.33333}</string>
				<string>{0.596286, -1.19257}</string>
				<string>{1.19257, -0.596285}</string>
				<string>{1.33333, 0}</string>
				<string>{1.19257, 0.596284}</string>
				<string>{0.596286, 1.19257}</string>
				<string>{1.27157e-06, 1.33333}</string>
				<string>{-0.596284, 1.19257}</string>
				<string>{-1.19257, 0.596284}</string>
				<string>{-1.33333, -1.27157e-06}</string>
				<string>{-1.19257, -0.596286}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>90</real>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>MiddleColor</key>
					<dict>
						<key>b</key>
						<string>0.284279</string>
						<key>g</key>
						<string>0.929348</string>
						<key>r</key>
						<string>0.661668</string>
					</dict>
					<key>MiddleFraction</key>
					<real>0.92857140302658081</real>
					<key>TrippleBlend</key>
					<string>YES</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Beneath</key>
					<string>YES</string>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.15</string>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>Fuzziness</key>
					<real>0.0</real>
					<key>ShadowVector</key>
					<string>{2, 2}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.431452</string>
						<key>g</key>
						<string>0.431452</string>
						<key>r</key>
						<string>0.431452</string>
					</dict>
					<key>CornerRadius</key>
					<real>3</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf350
{\fonttbl\f0\fnil\fcharset0 SEQOYSans;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs16 \cf0 Core Data Managed Object Model}</string>
				<key>VerticalPad</key>
				<integer>15</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{312.983, 606.032}, {65, 10}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>ID</key>
			<integer>3217</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf350
{\fonttbl\f0\fnil\fcharset0 SEQOYSans;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs18 \cf0 Persistent Store}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>SEQOYSans</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>3027</integer>
			</dict>
			<key>ID</key>
			<integer>3075</integer>
			<key>Points</key>
			<array>
				<string>{280.946, 553.449}</string>
				<string>{281.155, 582.375}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>6</real>
					<key>HeadArrow</key>
					<string>Arrow</string>
					<key>Pattern</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>Arrow</string>
					<key>Width</key>
					<real>0.5</real>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>3222</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{260.493, 582.375}, {41.7401, 57.3148}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>3027</integer>
			<key>ImageID</key>
			<integer>5</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf350
{\fonttbl\f0\fnil\fcharset0 SEQOYSans;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\b\fs24 \cf0 \
\
\
}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{171.801, 426.946}, {218.289, 126.503}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>w</key>
					<string>0</string>
				</dict>
				<key>Font</key>
				<string>SEQOYSans</string>
				<key>NSKern</key>
				<real>0.0</real>
				<key>Size</key>
				<real>8</real>
			</dict>
			<key>ID</key>
			<integer>3222</integer>
			<key>Magnets</key>
			<array>
				<string>{0, 1}</string>
				<string>{0, -1}</string>
				<string>{1, 0}</string>
				<string>{-1, 0}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>90</real>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>MiddleColor</key>
					<dict>
						<key>b</key>
						<string>0.940217</string>
						<key>g</key>
						<string>0.940217</string>
						<key>r</key>
						<string>0.940217</string>
					</dict>
					<key>MiddleFraction</key>
					<real>0.75396817922592163</real>
					<key>TrippleBlend</key>
					<string>YES</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Beneath</key>
					<string>YES</string>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.59</string>
						<key>b</key>
						<string>0.778226</string>
						<key>g</key>
						<string>0.778226</string>
						<key>r</key>
						<string>0.778226</string>
					</dict>
					<key>Fuzziness</key>
					<real>2.9887564182281494</real>
					<key>ShadowVector</key>
					<string>{2, 2}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.358877</string>
						<key>g</key>
						<string>0.358877</string>
						<key>r</key>
						<string>0.358877</string>
					</dict>
					<key>CornerRadius</key>
					<real>3</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf350
{\fonttbl\f0\fnil\fcharset0 SEQOYSans;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs16 \cf0 Core Data Components}</string>
			</dict>
			<key>TextPlacement</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{156.288, 400}, {243.712, 165.755}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>w</key>
					<string>0</string>
				</dict>
				<key>Font</key>
				<string>Copperplate</string>
				<key>NSKern</key>
				<real>0.0</real>
				<key>Size</key>
				<real>10</real>
			</dict>
			<key>ID</key>
			<integer>3218</integer>
			<key>Magnets</key>
			<array>
				<string>{-0.596285, -1.19257}</string>
				<string>{0, -1.33333}</string>
				<string>{0.596285, -1.19257}</string>
				<string>{1.19257, -0.596285}</string>
				<string>{1.33333, 0}</string>
				<string>{1.19257, 0.596284}</string>
				<string>{0.596285, 1.19257}</string>
				<string>{0, 1.33333}</string>
				<string>{-0.596285, 1.19257}</string>
				<string>{-1.19257, 0.596284}</string>
				<string>{-1.33333, -6.35783e-07}</string>
				<string>{-1.19257, -0.596285}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>90</real>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>MiddleColor</key>
					<dict>
						<key>w</key>
						<string>0.802419</string>
					</dict>
					<key>MiddleFraction</key>
					<real>0.75396817922592163</real>
					<key>TrippleBlend</key>
					<string>YES</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Beneath</key>
					<string>YES</string>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.15</string>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>Fuzziness</key>
					<real>0.0</real>
					<key>ShadowVector</key>
					<string>{2, 2}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.358877</string>
						<key>g</key>
						<string>0.358877</string>
						<key>r</key>
						<string>0.358877</string>
					</dict>
					<key>CornerRadius</key>
					<real>3</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf350
{\fonttbl\f0\fnil\fcharset0 SEQOYSans;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs18 \cf0 Database Manager}</string>
			</dict>
			<key>TextPlacement</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{468.609, 422.346}, {105.003, 117.47}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0.590997</string>
					<key>g</key>
					<string>0.18677</string>
					<key>r</key>
					<string>0.567819</string>
				</dict>
				<key>Font</key>
				<string>SEQOYSans</string>
				<key>Size</key>
				<real>8</real>
			</dict>
			<key>ID</key>
			<integer>3227</integer>
			<key>Magnets</key>
			<array>
				<string>{-0.596284, -1.19257}</string>
				<string>{1.27157e-06, -1.33333}</string>
				<string>{0.596286, -1.19257}</string>
				<string>{1.19257, -0.596285}</string>
				<string>{1.33333, 0}</string>
				<string>{1.19257, 0.596284}</string>
				<string>{0.596286, 1.19257}</string>
				<string>{1.27157e-06, 1.33333}</string>
				<string>{-0.596284, 1.19257}</string>
				<string>{-1.19257, 0.596284}</string>
				<string>{-1.33333, -1.27157e-06}</string>
				<string>{-1.19257, -0.596286}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>90</real>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>MiddleColor</key>
					<dict>
						<key>b</key>
						<string>0.212713</string>
						<key>g</key>
						<string>0.833462</string>
						<key>r</key>
						<string>0.996078</string>
					</dict>
					<key>MiddleFraction</key>
					<real>0.96031743288040161</real>
					<key>TrippleBlend</key>
					<string>YES</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Beneath</key>
					<string>YES</string>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.15</string>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>Fuzziness</key>
					<real>0.0</real>
					<key>ShadowVector</key>
					<string>{2, 2}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.431452</string>
						<key>g</key>
						<string>0.431452</string>
						<key>r</key>
						<string>0.431452</string>
					</dict>
					<key>CornerRadius</key>
					<real>3</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf350
{\fonttbl\f0\fnil\fcharset0 SEQOYSans;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs18 \cf0 Database \
Manager Action}</string>
				<key>VerticalPad</key>
				<integer>15</integer>
			</dict>
			<key>TextPlacement</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>NO</string>
	<key>HPages</key>
	<integer>2</integer>
	<key>ImageCounter</key>
	<integer>9</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image5.pdf</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2011-03-06 21:48:55 -0300</string>
	<key>Modifier</key>
	<string>Paulo Oliveira</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>NO</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{595.22, 842}</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array>
			<dict>
				<key>name</key>
				<string>Canvas 1</string>
			</dict>
		</array>
		<key>Frame</key>
		<string>{{0, 64}, {1680, 964}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{29.9401, 306.587}, {916.766, 476.048}}</string>
		<key>Zoom</key>
		<real>1.6699999570846558</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1.6699999570846558</real>
				<real>0.55500000715255737</real>
			</array>
		</array>
	</dict>
	<key>saveQuickLookFiles</key>
	<string>YES</string>
</dict>
</plist>
